{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock title %}

{% block content %}
    <div class="proj-center-div">
        <div class="proj-center-div-sub">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-success ml-2" type="submit">Login</button>
            </form>
        </div>
    </div>
{% endblock content %}