.proj-btn-override {
    padding: .275rem .35rem;
    font-size: .7rem;
}
.proj-center-div {
    width: 100%;
    min-height: 150px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}
.proj-center-div-sub {
    width: 400px;
    min-height: 150px;
    margin: 0;
    align-items: left;
}
.proj-list-margin-top {
    margin-top: 5px;
}
a, a:hover {
    text-decoration: none;
}
.navbar-brand {
    margin-right: 60px;
}
.navbar-nav .nav-item {
    margin-left: 30px;
}
.proj-select-proc-list {
    max-width: 180px;
    padding: 0;
    margin: 0;
    max-height: 30px;
    display: inline;
    font-size: .9rem;
}
.proj-span-proc-list {
    min-width: 350px;
    text-align: right;
}