{% extends "base.html" %}

{% block title %}Ações{% endblock title %}

{% block content %}
        <a href="{% url 'acao_new'%}" rule="button" class="btn proj-btn btn-outline-success float-right">+ Novo</a>
        <h3>Ações</h3>

        <br />
        <ul class="list-group">
        {% for acao in object_list %}
            <li class="list-group-item justify-content-between">
                <a href="{% url 'acao_detail' acao.pk %}">
                    {{ acao.etapa.nome}} - {{ acao.nome }}
                </a>
                <span class="text-muted float-right">
                    <a href="{% url 'acao_detail' acao.pk %}" class="btn proj-btn-override btn-outline-secondary" rule="button">Ver mais</a>
                    <a href="{% url 'acao_edit' acao.pk %}" class="btn proj-btn-override btn-outline-secondary" rule="button">Editar</a>
                    <a href="{% url 'acao_delete' acao.pk %}" class="btn proj-btn-override btn-outline-secondary" rule="button">Apagar</a>
                </span>
            </li>
        {% endfor %}
        </ul>
        <br />
{% endblock content %}