{% extends "base.html" %}

{% block title %}Ações - Delete{% endblock title %}

{% block content %}
        <h3>Ações</h3>
        <span class="text-muted">Apagar ação: <b>{{ acao.nome }}</b></span>
        <br /><br />
        <form action="" method="post">
            {% csrf_token %}
            <p>Você tem certeza que deseja apagar essa ação?</p>
            <span class="text-muted float-right">
                <a href="{% url 'acao_detail' acao.pk %}" class="btn btn-outline-secondary" rule="button">Cancelar</a>
                <input type="submit" class="btn btn-outline-danger" value="Sim! Apagar!">
            </span>
        </form>
        <br />
{% endblock content %}