{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Ações - Detalhes{% endblock title %}

{% block content %}
        <h3>Ações</h3>
        <span class="text-muted">Detalhes da acao: <b>{{ acao.nome }}</b></span>
        <br /><br />
        <div id="div_id_nome" class="form-group">
            <label for="id_nome" class="col-form-label  requiredField">
                Nome<span class="asteriskField">*</span>
            </label>
            <div class="">
                <input type="text" name="{{ acao.nome }}" value="Positivar" required class="textinput textInput form-control" id="id_nome" maxlength="200" disabled="" />
                <small id="hint_id_nome" class="form-text text-muted">Nome da ação.</small>
            </div>
        </div>
        <div id="div_id_descricao" class="form-group">
            <label for="id_descricao" class="col-form-label ">Descrição</label>
            <div class="">
                <input type="text" name="descricao" value="{{ acao.descricao }}" class="textinput textInput form-control" id="id_descricao" maxlength="200" disabled="" />
                <small id="hint_id_descricao" class="form-text text-muted">Descrição da ação.</small>
            </div>
        </div>
        <div id="div_id_etapa_seguinte" class="form-group">
            <label for="id_etapa_seguinte" class="col-form-label ">Etapa seguinte</label>
            <div class="">
                <select name="etapa_seguinte" class="select form-control" id="id_etapa_seguinte" disabled="">
                    <option value="" selected>{{ acao.etapa_seguinte.nome }}</option>
                </select>
                <small id="hint_id_etapa_seguinte" class="form-text text-muted">Etapa para a qual o processo deve ser movido.</small>
            </div>
        </div>
        <div class="form-group">
            <div id="div_id_finalizar" class="form-check">
                <label for="id_finalizar" class="form-check-label">
                    <input type="checkbox" name="finalizar" class="checkboxinput form-check-input" id="id_finalizar" {% if acao.finalizar %}checked {% endif %} disabled="" />
                    Finalizar?
                </label>
                <small id="hint_id_finalizar" class="form-text text-muted">Indica se o protocolo deve ser finalizado ao executar a ação.</small>
            </div>
        </div>
        <div class="form-group">
            <div id="div_id_is_active" class="form-check">
                <label for="id_is_active" class="form-check-label">
                    <input type="checkbox" name="is_active" id="id_is_active" class="checkboxinput form-check-input" {% if acao.is_active %}checked {% endif %} disabled="" />
                    Está ativa?
                </label>
                <small class="form-text text-muted">Indica se a ação está ou não ativa.</small>
            </div>
        </div>


        <span class="text-muted float-right">
            <a href="{% url 'acao_list' %}" class="btn btn-outline-secondary" rule="button">Voltar para lista</a>
            <a href="{% url 'acao_edit' acao.pk %}" class="btn btn-outline-primary" rule="button">Editar</a>
            <a href="{% url 'acao_delete' acao.pk %}" class="btn btn-outline-danger" rule="button">Apagar</a>
        </span>
        <br />
{% endblock content %}