{% extends 'base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
        <h3>Dashboard</h3>
        <br />

        <ul class="nav nav-tabs" role="tablist">
        {% for etapa in view.get_user_etapas %}
            <li class="nav-item">
                <a class="nav-link{% if forloop.first %} active{% endif %}" href="#{{ etapa.groups__projectgroup__etapas__id }}" role="tab" data-toggle="tab">{{ etapa.groups__projectgroup__etapas__nome }}</a>
            </li>
        {% endfor %}
        </ul>

        <div class="tab-content">
        {% for etapa in view.get_user_etapas %}
            <div role="tabpanel" class="tab-pane{% if forloop.first %} active{% else %} fade{% endif %}" id="{{ etapa.groups__projectgroup__etapas__id }}">
                <ul class="list-group proj-list-margin-top">
                {% for processo in view.get_user_processos %}
                    {% if processo.groups__projectgroup__etapas__processo__etapa == etapa.groups__projectgroup__etapas__id %}
                        <li id="proc_list_{{ processo.groups__projectgroup__etapas__processo__id}}" class="list-group-item justify-content-between">
                            <a href="#">
                                {{ processo.groups__projectgroup__etapas__processo__l1_protocolo }}
                            </a>
                            <a href="#" class="text-muted">
                                - {{ processo.groups__projectgroup__etapas__processo__natureza__nome }}
                            </a>
                            <span id="plspan{{ processo.groups__projectgroup__etapas__processo__id}}" class="text-muted float-right proj-span-proc-list ">
                                <a href="{% url 'processo_detail' processo.groups__projectgroup__etapas__processo__id %}" class="btn proj-btn-override btn-outline-secondary" rule="button">Ver mais</a>
                            {% for acao in view.get_user_etapa_acoes %}
                                {% if acao.acao__etapa == etapa.groups__projectgroup__etapas__id %}
                                    <button id="acao_{{ acao.acao__id }}" type="button" class="btn proj-btn-override btn-outline-secondary valida_acao" rule="button" onClick="validaAcao({{ acao.acao__id }}, {{ processo.groups__projectgroup__etapas__processo__id }})">{{ acao.acao__nome }}</button>
                                {% endif %}
                            {% endfor %}
                            </span>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
        {% empty %}
            <p>Você não tem permissões para acompanhar os processos! Procure o administrador do sistema para mais informações!</p>
        {% endfor %}
        </div>

{% endblock content %}

{% block javascript %}
    <script type="text/javascript">
        function fadeProc(proc_lst) {
            $('#' + proc_lst).fadeOut(300, function() {
                $(this).remove();
            });
        };

        function validaAcao(acao_id, processo_id) {
            var proc_lst = "proc_list_" + processo_id;
            var span = "plspan" + processo_id;
            var sel_span = "sel" + span;
            var btn_span = "btn" + span;
            if (document.getElementById(sel_span)){
                var analista_id = document.getElementById(sel_span).value;
            } else {
                var analista_id = null;
            }
            $.ajax({
                url: '{% url "valida_acao" %}',
                data: {
                    'acao': acao_id,
                    'processo': processo_id,
                    'analista': analista_id
                },
                dataType: 'json',
                success: function (data) {
                    if (data.analistas != null) {
                        document.getElementById(span).innerHTML =
                            '<select id="' + sel_span + '" name="analista" class="form-control proj-select-proc-list">\
                            </select>\
                            <input type="button" id="' + btn_span + '" class="btn proj-btn-override btn-outline-secondary valida_acao" rule="button" \
                                onClick="validaAcao(' + acao_id + ', ' + processo_id + ')" value="Distribuir">';
                        for (i = 0; i < data.analistas.length; i++) {
                            document.getElementById('sel' + span).innerHTML +=
                                '<option value="' + data.analistas[i].id + '">' + data.analistas[i].username + '</option>';
                        }
                    } else if (data.proc_distrib != null) {
                        alert("O processo foi distribuido");
                        fadeProc(proc_lst)
                    } else {
                        if (data.proc_active) {
                            var proc_ativo = '';
                        } else {
                            var proc_ativo = 'não';
                        }
                        alert('O processo seria alterado para a etapa ' + data.proc_etapa + ' e ' + proc_ativo + ' seria finalizado!');
                        fadeProc(proc_lst)
                      }
                }
            });

        };
    </script>
{% endblock javascript %}