{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Etapas - Nova{% endblock title %}

{% block content %}
        <h3>Etapas</h3>
        <span class="text-muted">Cadastrar etapa</span>
        <br /><br />
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <a href="{% url 'etapa_list' %}" class="btn btn-outline-secondary ml-2" rule="button">Voltar para lista</a>
            <input type="submit" class="btn btn-outline-success ml-2" value="Salvar">
        </form>

{% endblock content %}