{% extends "base.html" %}

{% block title %}Etapas - Delete{% endblock title %}

{% block content %}
        <h3>Etapas</h3>
        <span class="text-muted">Apagar etapa: <b>{{ etapa.nome }}</b></span>
        <br /><br />
        <form action="" method="post">
            {% csrf_token %}
            <p>Você tem certeza que deseja apagar essa etapa?</p>
            <span class="text-muted float-right">
                <a href="{% url 'etapa_detail' etapa.pk %}" class="btn btn-outline-secondary" rule="button">Cancelar</a>
                <input type="submit" class="btn btn-outline-danger" value="Sim! Apagar!">
            </span>
        </form>
        <br />
{% endblock content %}