{% extends "base.html" %}

{% block title %}Etapas{% endblock title %}

{% block content %}
        <a href="{% url 'etapa_new'%}" rule="button" class="btn proj-btn btn-outline-success float-right">+ Novo</a>
        <h3>Etapas</h3>

        <br />
        <ul class="list-group">
        {% for etapa in object_list %}
            <li class="list-group-item justify-content-between">
                <a href="{% url 'etapa_detail' etapa.pk %}"{% if not etapa.is_active %} class="text-muted" {% endif %}>
                    {{ etapa.ordem }}. {{ etapa.nome }}{% if not etapa.is_active %} (inativo){% endif %}
                </a>
                <span class="text-muted float-right">
                    <a href="{% url 'etapa_detail' etapa.pk %}" class="btn proj-btn-override btn-outline-secondary" rule="button">Ver mais</a>
                    <a href="{% url 'etapa_edit' etapa.pk %}" class="btn proj-btn-override btn-outline-secondary" rule="button">Editar</a>
                    <a href="{% url 'etapa_delete' etapa.pk %}" class="btn proj-btn-override btn-outline-secondary" rule="button">Apagar</a>
                </span>
            </li>
        {% endfor %}
        </ul>
        <br />
{% endblock content %}