{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Etapas - Editar{% endblock title %}

{% block content %}
        <h3>Etapas</h3>
        <span class="text-muted">Editar etapa: <b>{{ etapa.nome }}</b></span>
        <br /><br />
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy}}
            <span class="text-muted float-right">
                <a href="{% url 'etapa_detail' etapa.pk %}" class="btn btn-outline-secondary" rule="button">Cancelar</a>
                <input type="submit" class="btn btn-outline-success ml-2" value="Salvar">
            </span>
        </form>
        <br />
{% endblock content %}