{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Etapas - Detalhes{% endblock title %}

{% block content %}
        <h3>Etapas</h3>
        <span class="text-muted">Detalhes da etapa: <b>{{ etapa.nome }}</b></span>
        <br /><br />
        <div id="div_id_nome" class="form-group">
            <label for="id_nome" class="col-form-label  requiredField">
                Etapa<span class="asteriskField">*</span>
            </label>
            <div class="">
                <input type="text" name="nome" value="{{ etapa.nome }}" maxlength="200" id="id_nome" class="textinput textInput form-control" required disabled="" />
                <small id="hint_id_nome" class="form-text text-muted">Nome da etapa.</small>
            </div>
        </div>
        <div id="div_id_descricao" class="form-group">
            <label for="id_descricao" class="col-form-label ">
                Descrição da etapa
            </label>
            <div class="">
                <input type="text" name="descricao" value="{{ etapa.descricao }}" maxlength="200" id="id_descricao" class="textinput textInput form-control" disabled="" />
                <small id="hint_id_descricao" class="form-text text-muted">Descreve a função da etapa.</small>
            </div>
        </div>
        <div id="div_id_ordem" class="form-group">
            <label for="id_ordem" class="col-form-label  requiredField">
                Ordem<span class="asteriskField">*</span>
            </label>
            <div class="">
                <input type="number" name="ordem" value="{{ etapa.ordem }}" class="numberinput form-control" id="id_ordem" min="0" required disabled="" />
                <small id="hint_id_ordem" class="form-text text-muted">Define a posição/ordem da etapa.</small>
            </div>
        </div>
        <div id="div_id_distribuicao" class="form-group">
            <label for="id_distribuicao" class="col-form-label ">Distribuição</label>
            <div class="">
                <select name="distribuicao" class="selectmultiple form-control" id="id_distribuicao" multiple disabled="" >
                {% for dist in etapa.distribuicao.all %}
                    <option value="{{ dist.id }}">{{ dist.nome }}</option>
                {% endfor %}
                </select>
                <small id="hint_id_distribuicao" class="form-text text-muted">Indica quais tipos de distribuição podem ser usados para essa etapa.</small>
            </div>
        </div>
        <div class="form-group">
            <div id="div_id_vincular_analista" class="form-check">
                <label for="id_vincular_analista" class="form-check-label">
                    <input type="checkbox" name="vincular_analista" class="checkboxinput form-check-input" id="id_vincular_analista" {% if etapa.vincular_analista %} checked="" {% endif %} disabled="" />
                    Vincular analista
                </label>
                <small id="hint_id_vincular_analista" class="form-text text-muted">Indica se o sistema deve se lembrar do usuário escolhido na primeira distribuição do processo.</small>
            </div>
        </div>
        <div class="form-group">
            <div id="div_id_is_active" class="form-check">
                <label for="id_is_active" class="form-check-label">
                    <input type="checkbox" name="is_active" class="checkboxinput form-check-input" id="id_is_active" {% if etapa.is_active %} checked="" {% endif %} disabled="" />
                    Está ativa?
                </label>
                <small id="hint_id_is_active" class="form-text text-muted">Indica se a etapa está ou não ativa.</small>
            </div>
        </div>


        <span class="text-muted float-right">
            <a href="{% url 'etapa_list' %}" class="btn btn-outline-secondary" rule="button">Voltar para lista</a>
            <a href="{% url 'etapa_edit' etapa.pk %}" class="btn btn-outline-primary" rule="button">Editar</a>
            <a href="{% url 'etapa_delete' etapa.pk %}" class="btn btn-outline-danger" rule="button">Apagar</a>
        </span>
        <br /><br /><br /><hr>
        <div>
            <a href="{% url 'acao_new'%}" rule="button" class="btn proj-btn-override btn-outline-success float-right">+ Novo</a>
            <h6>Ações cadastradas para esta etapa</h6>
            <br />
            <ul class="list-group">
            {% for acao in etapa.acao_set.all %}
                <li class="list-group-item justify-content-between">
                    <a href="{% url 'acao_detail' acao.pk %}">
                        {{ acao }}
                    </a>
                    <span class="text-muted float-right">
                        <a href="{% url 'acao_detail' acao.pk %}" class="btn proj-btn-override btn-outline-secondary" rule="button">Ver mais</a>
                        <a href="{% url 'acao_edit' acao.pk %}" class="btn proj-btn-override btn-outline-secondary" rule="button">Editar</a>
                        <a href="{% url 'acao_delete' acao.pk %}" class="btn proj-btn-override btn-outline-secondary" rule="button">Apagar</a>
                    </span>
                </li>
            {% endfor %}
            </ul>
        </div>
        <br /><br />
{% endblock content %}