{% extends 'base.html' %}

{% block title %}Homepage{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <p>Olá, {% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}!</p>
        <p><a href="{% url 'logout' %}">logout</a></p>
    {% else %}
        <p>Olá! Você não está logado!</p>
        <p><a href="{% url 'login' %}">login</a></p>
    {% endif %}
{% endblock content %}