{% extends "base.html" %}

{% block title %}Naturezas - Delete{% endblock title %}

{% block content %}
        <h3>Naturezas</h3>
        <span class="text-muted">Apagar natureza: <b>{{ natureza.nome }}</b></span>
        <br /><br />
        <form action="" method="post">
            {% csrf_token %}
            <p>Você tem certeza que deseja apagar essa natureza?</p>
            <span class="text-muted float-right">
                <a href="{% url 'natureza_detail' natureza.pk %}" class="btn btn-outline-secondary" rule="button">Cancelar</a>
                <input type="submit" class="btn btn-outline-danger" value="Sim! Apagar!">
            </span>
        </form>
        <br />
{% endblock content %}