{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Naturezas - Detalhes{% endblock title %}

{% block content %}
        <h3>Naturezas</h3>
        <span class="text-muted">Detalhes da natureza: <b>{{ natureza.nome }}</b></span>
        <br /><br />
        <div id="div_id_nome" class="form-group">
            <label for="id_nome" class="col-form-label  requiredField">
                Nome da Natureza<span class="asteriskField">*</span>
            </label>
            <div class="">
                <input type="text" name="nome" value="{{ natureza.nome }}" required id="id_nome" maxlength="200" class="textinput textInput form-control" disabled="" />
            </div>
        </div>
        <div id="div_id_prazo" class="form-group">
            <label for="id_prazo" class="col-form-label ">
                Prazo legal
            </label>
            <div class="">
                <input type="number" name="prazo" value="{{ natureza.prazo }}" id="id_prazo" class="numberinput form-control" disabled="" />
                <small id="hint_id_prazo" class="form-text text-muted">Prazo legal da prenotação. Período de validade oficial dos processos ligados à esta natureza.</small>
            </div>
        </div>
        <div class="form-group">
            <div id="div_id_is_active" class="form-check">
                <label for="id_is_active" class="form-check-label">
                    <input type="checkbox" name="is_active" id="id_is_active" class="checkboxinput form-check-input" {% if natureza.is_active %} checked="" {% endif %} disabled="" />
                    Está ativo?
                </label>
                <small id="hint_id_is_active" class="form-text text-muted">Indica se a natureza está ou não ativa.</small>
            </div>
        </div>


        <span class="text-muted float-right">
            <a href="{% url 'natureza_list' %}" class="btn btn-outline-secondary" rule="button">Voltar para lista</a>
            <a href="{% url 'natureza_edit' natureza.pk %}" class="btn btn-outline-primary" rule="button">Editar</a>
            <a href="{% url 'natureza_delete' natureza.pk %}" class="btn btn-outline-danger" rule="button">Apagar</a>
        </span>
        <br />
{% endblock content %}