{% extends "base.html" %}

{% block title %}Naturezas{% endblock title %}

{% block content %}
        <a href="{% url 'natureza_new'%}" rule="button" class="btn proj-btn btn-outline-success float-right">+ Novo</a>
        <h3>Naturezas</h3>

        <br />
        <ul class="list-group">
        {% for natureza in object_list %}
            <li class="list-group-item justify-content-between">
                <a href="{% url 'natureza_detail' natureza.pk %}">
                    {{ natureza.nome }}
                </a>
                <span class="text-muted float-right">
                    <a href="{% url 'natureza_detail' natureza.pk %}" class="btn proj-btn-override btn-outline-secondary" rule="button">Ver mais</a>
                    <a href="{% url 'natureza_edit' natureza.pk %}" class="btn proj-btn-override btn-outline-secondary" rule="button">Editar</a>
                    <a href="{% url 'natureza_delete' natureza.pk %}" class="btn proj-btn-override btn-outline-secondary" rule="button">Apagar</a>
                </span>
            </li>
        {% endfor %}
        </ul>
        <br />
{% endblock content %}