{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Processos - Editar{% endblock title %}

{% block content %}
        <h3>Processos</h3>
        <span class="text-muted">Editar processo: <b>{{ processo.l1_protocolo }}</b></span>
        <br /><br />
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy}}
            <span class="text-muted float-right">
                <a href="{% url 'processo_detail' processo.pk %}" class="btn btn-outline-secondary" rule="button">Cancelar</a>
                <input type="submit" class="btn btn-outline-success ml-2" value="Salvar">
            </span>
        </form>
        <br />
{% endblock content %}