{% extends "base.html" %}

{% block title %}Processos - Delete{% endblock title %}

{% block content %}
        <h3>Processos</h3>
        <span class="text-muted">Apagar processo: <b>{{ processo.l1_protocolo }}</b></span>
        <br /><br />
        <form action="" method="post">
            {% csrf_token %}
            <p>Você tem certeza que deseja apagar esse processo?</p>
            <span class="text-muted float-right">
                <a href="{% url 'processo_detail' processo.pk %}" class="btn btn-outline-secondary" rule="button">Cancelar</a>
                <input type="submit" class="btn btn-outline-danger" value="Sim! Apagar!">
            </span>
        </form>
        <br />
{% endblock content %}