{% extends "base.html" %}

{% block title %}Processos{% endblock title %}

{% block content %}
        <a href="{% url 'processo_new'%}" rule="button" class="btn proj-btn btn-outline-success float-right">+ Novo</a>
        <h3>Processos</h3>

        <br />
        <ul class="list-group">
        {% for processo in object_list %}
            <li class="list-group-item justify-content-between">
                <a href="{% url 'processo_detail' processo.pk %}">
                    {{ processo.l1_protocolo }}
                </a>
                <a href="{% url 'processo_detail' processo.pk %}" class="text-muted">
                    - {{ processo.natureza }}
                </a>
                <span class="text-muted float-right">
                    <a href="{% url 'processo_detail' processo.pk %}" class="btn proj-btn-override btn-outline-secondary" rule="button">Ver mais</a>
                    <a href="{% url 'processo_edit' processo.pk %}" class="btn proj-btn-override btn-outline-secondary" rule="button">Editar</a>
                    <a href="{% url 'processo_delete' processo.pk %}" class="btn proj-btn-override btn-outline-secondary" rule="button">Apagar</a>
                </span>
            </li>
        {% endfor %}
        </ul>
        <br />
{% endblock content %}