{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Processos - Detalhes{% endblock title %}

{% block content %}
        <h3>Processos</h3>
        <span class="text-muted">Detalhes da processo: <b>{{ processo.l1_protocolo }}</b></span>
        <br /><br />
        <div id="div_id_l1_protocolo" class="form-group">
            <label for="id_l1_protocolo" class="col-form-label  requiredField">
                Processo<span class="asteriskField">*</span>
            </label>
            <div class="">
                <input type="number" name="l1_protocolo" value="{{ processo.l1_protocolo }}" class="numberinput form-control" required id="id_l1_protocolo" disabled="" />
                <small id="hint_id_l1_protocolo" class="form-text text-muted">Número do processo/protocolo.</small>
            </div>
        </div>
        <div id="div_id_dta_inclusao" class="form-group">
            <label for="id_dta_inclusao" class="col-form-label  requiredField">Data de entrada<span class="asteriskField">*</span></label>
            <div class="">
                <input type="text" name="dta_inclusao" value="{{ processo.dta_inclusao }}" class="dateinput form-control" required disabled id="id_dta_inclusao">
                <small id="hint_id_dta_inclusao" class="form-text text-muted">Data em que o processo deu entrada (inclusão).</small>
            </div>
        </div>
        <div id="div_id_dta_prazo" class="form-group">
            <label for="id_dta_prazo" class="col-form-label  requiredField">Vencimento<span class="asteriskField">*</span> </label>
            <div class="">
                <input type="text" name="dta_prazo" value="{{ processo.dta_prazo }}" class="dateinput form-control" required disabled id="id_dta_prazo">
                <small id="hint_id_dta_prazo" class="form-text text-muted">Data em que vence o prazo legal do processo.</small>
            </div>
        </div>
        <div id="div_id_natureza" class="form-group">
            <label for="id_natureza" class="col-form-label  requiredField">
                Natureza<span class="asteriskField">*</span>
            </label>
            <div class="">
                <select name="natureza" class="select form-control" required id="id_natureza" disabled="">
                    <option value="">{{ processo.natureza }}</option>
                </select>
                <small id="hint_id_natureza" class="form-text text-muted">Natureza do processo.</small>
            </div>
        </div>
        <div id="div_id_etapa" class="form-group">
            <label for="id_etapa" class="col-form-label ">Etapa</label>
            <div class="">
                <select name="etapa" class="select form-control" id="id_etapa" disabled="">
                    <option value="" selected>{{ processo.etapa }}</option>
                </select>
                <small id="hint_id_etapa" class="form-text text-muted">Etapa do processo.</small>
            </div>
        </div>
        <div id="div_id_parte" class="form-group">
            <label for="id_parte" class="col-form-label ">Parte</label>
            <div class="">
                <input type="text" name="parte" value="{{ processo.parte }}" class="textinput textInput form-control" id="id_parte" maxlength="200" disabled="" />
                <small id="hint_id_parte" class="form-text text-muted">Nome/identificação da parte/cliente.</small>
            </div>
        </div>
        <div id="div_id_atendente" class="form-group">
            <label for="id_atendente" class="col-form-label  requiredField">Atendente<span class="asteriskField">*</span> </label>
            <div class="">
                <input type="text" name="atendente" value="{{ processo.atendente }}" class="textinput textInput form-control" required disabled id="id_atendente">
                <small id="hint_id_atendente" class="form-text text-muted">Nome/identificação do funcionário que deu entrada(incluiu) no processo.</small>
            </div>
        </div>
        <div id="div_id_agente" class="form-group">
            <label for="id_agente" class="col-form-label  requiredField">Agente<span class="asteriskField">*</span> </label>
            <div class="">
                <input type="text" name="agente" value="{{ processo.agente }}" class="textinput textInput form-control" required disabled id="id_agente">
                <small id="hint_id_agente" class="form-text text-muted">Nome/identificação do funcionário responsável pelo processo na presente etapa.</small>
            </div>
        </div>

        <span class="text-muted float-right">
            <a href="{% url 'processo_list' %}" class="btn btn-outline-secondary" rule="button">Voltar para lista</a>
            <a href="{% url 'processo_edit' processo.pk %}" class="btn btn-outline-primary" rule="button">Editar</a>
            <a href="{% url 'processo_delete' processo.pk %}" class="btn btn-outline-danger" rule="button">Apagar</a>
        </span>
        <br /><br />
{% endblock content %}