{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Vínculos - Detalhes{% endblock title %}

{% block content %}
        <h3>Vínculos</h3>
        <span class="text-muted">Detalhes da vinculo: <b>{{ vinculo.nome }}</b></span>
        <br /><br />

        <span class="text-muted float-right">
            <a href="{% url 'vinculo_list' %}" class="btn btn-outline-secondary" rule="button">Voltar para lista</a>
            <a href="{% url 'vinculo_edit' vinculo.pk %}" class="btn btn-outline-primary" rule="button">Editar</a>
            <a href="{% url 'vinculo_delete' vinculo.pk %}" class="btn btn-outline-danger" rule="button">Apagar</a>
        </span>
        <br /><br /><br /><hr>
        <div>
            <a href="{% url 'processo_new'%}" rule="button" class="btn proj-btn-override btn-outline-success float-right">+ Novo</a>
            <h6>Ações cadastradas para esta vinculo</h6>
            <br />
            <ul class="list-group">
            {% for processo in vinculo.processo_set.all %}
                <li class="list-group-item justify-content-between">
                    <a href="{% url 'processo_detail' processo.pk %}">
                        {{ processo }}
                    </a>
                    <span class="text-muted float-right">
                        <a href="{% url 'processo_detail' processo.pk %}" class="btn proj-btn-override btn-outline-secondary" rule="button">Ver mais</a>
                        <a href="{% url 'processo_edit' processo.pk %}" class="btn proj-btn-override btn-outline-secondary" rule="button">Editar</a>
                        <a href="{% url 'processo_delete' processo.pk %}" class="btn proj-btn-override btn-outline-secondary" rule="button">Apagar</a>
                    </span>
                </li>
            {% endfor %}
            </ul>
        </div>
        <br /><br />
{% endblock content %}