{% extends "base.html" %}

{% block title %}Vínculos - Delete{% endblock title %}

{% block content %}
        <h3>Vínculos</h3>
        <span class="text-muted">Apagar vinculo: <b>{{ vinculo.descricao }}</b></span>
        <br /><br />
        <form action="" method="post">
            {% csrf_token %}
            <p>Você tem certeza que deseja apagar esse vinculo?</p>
            <span class="text-muted float-right">
                <a href="{% url 'vinculo_list' %}" class="btn btn-outline-secondary" rule="button">Voltar para lista</a>
                <input type="submit" class="btn btn-outline-danger" value="Sim! Apagar!">
            </span>
        </form>
        <br />
{% endblock content %}