{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Vínculos - Editar{% endblock title %}

{% block content %}
        <h3>Vínculos</h3>
        <span class="text-muted">Editar vínculo: <b>{{ vinculo.descricao }}</b></span>
        <br /><br />
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy}}
            <span class="text-muted float-right">
                <a href="{% url 'vinculo_list' %}" class="btn btn-outline-secondary" rule="button">Voltar para lista</a>
                <input type="submit" class="btn btn-outline-success ml-2" value="Salvar">
            </span>
        </form>
        <br />
{% endblock content %}