{% extends "base.html" %}

{% block title %}Vínculos{% endblock title %}

{% block content %}
        <a href="{% url 'vinculo_new'%}" rule="button" class="btn proj-btn btn-outline-success float-right">+ Novo</a>
        <h3>Vínculos</h3>

        <br />
        <ul class="list-group">
        {% for vinculo in object_list %}
            <li class="list-group-item justify-content-between">
                <a href="{% url 'vinculo_detail' vinculo.pk %}">
                    {{ vinculo.nome }}
                </a>
                <span class="text-muted float-right">
                    <a href="{% url 'vinculo_detail' vinculo.pk %}" class="btn proj-btn-override btn-outline-secondary" rule="button">Ver mais</a>
                    <a href="{% url 'vinculo_edit' vinculo.pk %}" class="btn proj-btn-override btn-outline-secondary" rule="button">Editar</a>
                    <a href="{% url 'vinculo_delete' vinculo.pk %}" class="btn proj-btn-override btn-outline-secondary" rule="button">Apagar</a>
                </span>
            </li>
        {% endfor %}
        </ul>
        <br />
{% endblock content %}